.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid var(--light-gray);

  h1 {
    font-weight: lighter;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  svg {
    right: 0;
    transition: 200ms ease;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }

    path {
      stroke: white;
    }
  }
}

.formWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  width: 100%;
  width: 100%;

  label {
    font-weight: lighter;
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }

  input,
  textarea {
    background: var(--dark-gray);
    border: 1px solid var(--light-gray);
    border-radius: 0.6rem;
    width: 100%;
    padding: 0.5rem 1rem;
    color: var(--white);
  }

  textarea {
    min-height: 8rem;
  }
}

.embedFile {
  background: var(--dark-gray);
  border: 1px solid var(--light-gray);
  border-radius: 0.6rem;
  padding: 1rem;
  color: var(--white);
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    display: none;
  }

  p {
    margin-left: 1rem;
    font-size: 1.3rem;
  }
}

.statusField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  width: 100%;
  width: 100%;

  label {
    font-weight: lighter;
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }
}

.radioInputContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.radioInput {
  display: flex;
  flex-direction: row;
  align-items: center;

  input{
    accent-color: var(--light-gray);
    margin-right: 1rem;
    scale: 1.2;
  }

  p{
    font-size: 1.2rem;
    margin-right: 4rem;
  }

}
