# npm
package-lock.json
npm-debug.log*

# dependencies
node_modules/
dist/

# databases
*.sqlite

# compiled output
/build

# env
.env
*.env.*

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json