.Container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 48px;
  bottom: 0px;
  width: 1059px;
  left: calc(50% - 1035px/2 + 5.5px);
  border-left: 1px solid var(--dell-border);
}

