.Container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 48px;
  bottom: 0px;
  width: 1059px;
  left: calc(50% - 1035px/2 + 5.5px);
  border-left: 1px solid var(--dell-border);

  .MainContent{
    border-right: 1px solid var(--dell-border);
    width: calc(100% - 326px);
    height: 100%;
    top: 0px;
    bottom: 0px;
  }

  .SideContent{
    height: 100%;
    width: 326px;
    top: 0px;
    bottom: 0px;
    left: 732px;
    border-right: 1px solid var(--dell-border); // Borda temporária
  }
}

.IntKeyWords{
  position: relative;
  width: 292px;
  height: 100px;
  left: 25px;
  top: 13px;

  background: var(--dark-gray);
  border-radius: 10px;
  
  p{
    color: var(--white);
    width: 292px;
    height: 40px;
    font-family: 'Museo For Dell';
    font-size: 15px;
    line-height: 18px;
    padding: 11px 0px 0px 15px;
  }

  .AllKeyWords{
    display: inline-flex;
    flex-wrap: wrap;
  
    .SugKeyWords{
      font-family: "Trebuchet";
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 0px 10px 0px 10px;
      height: 21px;
      border: 1px solid;
      border-radius: 10px;
      left: 15px;
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }
}

.Ranking{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  width: 292px;
  height: 200px;
  top: 25px;

  background: var(--dark-gray);
  border-radius: 10px;
  left: 25px;

  .RankingIntro{
    width: 292px;
    height: 80px;
    border-bottom: 1px solid #2F3336;

    .RankingTittle{
      position: relative;
      width: 292px;
      height: 18px;
      top: 10px;
      padding-left: 15px;
      font-family: 'Museo For Dell';
      font-style: normal;
      font-size: 15px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
    }

    .RankingSubTittle{
      position: relative;
      width: 292px;
      height: 16px;
      color: #6E767D;
      padding-left: 15px;
      top: 10px;
      // margin-bottom: 10px;
    }
  }

  .RankingContent{
    display: flex;
    flex-direction: column;
    height: 259px;
    width: 292px;

    .RankingPlace{
      padding: 5px 0px 0px 0px; 
      width: 100%;
      height: 35px;
      display: flex;

      .InfoProfile{
        display: flex;
        flex-direction: column;
        position: relative;

        .ProfileName{
          position: relative;
          display: flex;
          height: 50%;
          width: 292px;
          align-items: end;
          color: white;
          padding-left: 15px;

          .ProfilePoints{
            position: absolute;
            font-family: 'Trebuchet MS';
            font-style: normal;
            right: 15px;
            align-items: center;

            .IconPercentage{
              position: relative;
              top: 2px;
              right: 2px;
              color: var(--blue);
            }
          }
        }

        .DoneProjects{
          position: relative;
          height: 50%;
          width: 292px;
          font-family: 'Trebuchet MS';
          font-style: normal;
          color: #6E767D;
          padding-left: 15px;
        }
      }
    }
  }
}
