.Container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 48px;
  bottom: 0px;
  width: 1059px;
  left: calc(50% - 1035px/2 + 5.5px);
  border-left: 1px solid var(--dell-border);

  .MainContent{
    border-right: 1px solid var(--dell-border);
    width: calc(100% - 326px);
    height: 100%;
    top: 0px;
    bottom: 0px;
  }

  .SideContent{
    height: 100%;
    width: 326px;
    top: 0px;
    bottom: 0px;
    left: 732px;
    border-right: 1px solid var(--dell-border); // Borda temporária
  }
}

.IntKeyWords{
  position: relative;
  width: 292px;
  height: 100px;
  left: 25px;
  top: 13px;

  background: #15181C;
  border-radius: 10px;

  p{
    color: white;
    width: 292px;
    height: 40px;
    font-family: 'Museo For Dell';
    font-size: 15px;
    line-height: 18px;
    padding: 11px 0px 0px 15px;
  }

  .AllKeyWords{
    display: inline-flex;
    flex-wrap: wrap;

    .SugKeyWords{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 0px 10px 0px 10px;
      height: 21px;
      color: #6E767D;
      border: 1px solid #6E767D;
      border-radius: 10px;
      left: 15px;
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }
}